body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.menu {
    background-color: #227f7f;
    padding: 10px 0;

}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    margin: 0 20px;
}
.menu ul li a:hover {
    text-decoration: underline;
}
.inicio {
    color: blue;
  text-decoration: none; 
}
.inicio:hover {
     color: green;
}
.inicio:active {
    color: red;
}